<form (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Título</label>
      <input [(ngModel)]="task.title" name="title" required />
    </div>
    <div>
      <label for="description">Descrição:</label>
      <textarea [(ngModel)]="task.description" name="description"></textarea>
    </div>
    <div>
      <label for="status">Status:</label>
      <select [(ngModel)]="task.status" name="status">
        <option value="pending">Pendente</option>
        <option value="in-progress">Em Progresso</option>
        <option value="completed">Completa</option>
      </select>
    </div>
    <button type="submit">Save</button>
</form>