<h1 class="task-title">Lista de Tarefas</h1>

<button class="btn-custom mb-3 mb-3 animate__animated animate__fadeInUp" (click)="changeMode('add')" *ngIf="mode === 'list'">Nova Tarefa</button>

<ul class="list-group animate__animated animate__zoomIn" *ngIf="mode === 'list'">
  <p *ngIf="tasks.length === 0"><small>Você ainda não tem nenhuma tarefa!</small></p>

  <input class="search-input" type="text" [(ngModel)]="searchQuery" placeholder="Buscar tarefa" />

  <div *ngFor="let task of filteredTasks" (click)="task.showEdit = !task.showEdit">
    <div class="task-card" [class.completed]="task.status === 'Concluída'">
        <h3 class="task-title">{{ task.title }} - {{ task.status }}</h3>
        <p *ngIf="task.showEdit">{{ task.description }}</p>
        <p>Tipo: {{ task.type }}</p>
        <p>
            <button *ngIf="task.showEdit" class="btn-custom" (click)="onEdit(task)">📝</button>
            <button *ngIf="task.showEdit && task.id !== undefined" class="btn-custom" (click)="onDelete(task.id)">🗑️</button>
        </p>
    </div>
  </div>
</ul>

<div id="modal" class="animate__animated animate__zoomIn" *ngIf="mode === 'add' || mode === 'edit'">
  <h2>{{ mode === 'add' ? 'Nova Tarefa' : 'Editar Tarefa' }}</h2>
  <app-todo-form [task]="selectedTask!" (save)="onSave()"/>
  <button class="button mt-3" (click)="changeMode('list')">Cancelar</button>
</div>
